.aboutContainer {
  width: 80%;
  margin: 3rem auto 0;
  display: flex;
  justify-content: space-between;
}

.aboutImgContainer {
  width: 50%;
  opacity: 0;
  img {
    max-width: 100%;
  }
}

.aboutTextContainer {
  width: 47%;
  display: flex;
  flex-direction: column;
  line-height: 1.7rem;
  justify-content: center;
  position: relative;

  h4 {
    font-size: 1.9rem;
    position: absolute;
    top: 1rem;
  }

  p {
    margin-top: 7rem;
  }
}

.imgFadeIn {
  transition: opacity 0.7s ease-in;
  opacity: 1;
}

.aboutSocialNav {
  display: flex;
  justify-content: center;
  padding: 0;

  li {
    list-style: none;
    padding: 0.5rem 2.5rem;
    margin: 0.5rem 1.5rem;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
      transition: all 0.5s ease;
      background-color: black;
      color: white;

      a {
        color: white;
      }
      i {
        color: white;
      }
    }

    &:focus {
      transition: all 0.5s ease;
      background-color: black;
      color: white;

      a {
        color: white;
      }
      i {
        color: white;
      }
    }

    a {
      text-decoration: none;
      color: black;
      letter-spacing: 3px;
    }
  }
}
