header {
  height: 7.5rem;
  padding: 4rem 0;
  display: flex;
  align-items: center;
}
.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logoContainer {
    height: 100%;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9rem;
    width: 6rem;

    img {
      max-width: 80%;
      margin-top: 3%;
      margin-left: 3%;
    }

  }

  nav {

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      margin-right: 9rem;

      li {
        list-style-type: none;
        margin: 1.5rem;
        font-size: 1.1rem;

        a {
          text-decoration: none;
          color: black;
          letter-spacing: 5px;
          border: 3px solid white;
          padding: 0.3rem 2rem;
          transition: all .3s ease;
          font-size: 1rem;
        }
      }
    }
  }
}

.headerNav .navSelected {
  border: 3px solid black;
}






