
.heroHeaderContainer {
  height: 60vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
}

.heroImgContainer {
  max-height: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
    

  img {
    max-width: 100%;
    max-height: 100%;
    
  }


}


.firstTextContainer {
  
  margin-top: 18rem;
  
  transform: skew(30deg);

  h2 {
    transform: skew(-30deg);
  }
  
}

.secondTextContainer {
  
  margin-top: 25rem;
  
  margin-left: 7rem;
  transform: skew(30deg);

  h2 {
    transform: skew(-30deg);
  }
  
}

.firstTextContainer,
.secondTextContainer {
  grid-row-start: 1;
  grid-column: 1/-1;
  text-align: center;
  background: white;
  height: 5rem;
  width: 70%;
  
}
  

.homeSocialNav {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;

  ul {
    padding: 0;
    margin-top: 4rem;
    margin-right: 1.5rem;

    li{
      list-style-type: none;
      margin: 1.2rem;
      font-size: 1.6rem;

      a {
        color: white;
        padding: 0.7rem;
        
        &:hover {
          transition: all .2s ease-in-out;
          color: black;
        }
        &:focus {
          transition: all .2s ease-in-out;
          color: black;
        }
      }
    }
  }
}


      


///////////////////////////////////////////////
////////////PROJECT SECTION
//////////////////////////////////////////////



.projectTypeSelector {
  padding: 0;
  margin-top: 3rem;
  display: flex;
  justify-content: center;

  li {
    list-style-type: none;
    padding: 1rem 3rem;

    button {
      background-color: #fff;
      width: 8rem;
      padding: 0.5rem 0;
      cursor: pointer;
      border: 3px solid white;
      transition: all 0.5s ease;
      font-size: 1rem;
      letter-spacing: 3px;
    }
  }
}

.projectTypeSelector .selected {
  border: 3px solid black;
}

  
/// show projects with a minimum width, scaling to 1 fractional unit
/// because of restrictions put on this div by it's wrapper parent, it will
// be either a one or two column grid, but never three. 

.workContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
  gap: 2rem;
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
  justify-content: center;

  
  // quick media query to ensure that the projects
  // container both maintains the two column grid
  // on as many screens as possible and a second to 
  // constrict the width of the container at medium resolutions
  // so that projects don't appear too large on the screen
  
  
  @media(max-width: 1350px) {
    width: 90%;
  }
  @media(max-width: 1200px) {
    width: 60%;
  }
  

  .project {
    
    h3 {
      font-weight: 400;
      font-size: 0.9rem;
    }

    .workImgContainer {
      position: relative;
      overflow: hidden;

      img {
        max-width: 100%;
      }

      .filmFactory {
        background: rgb(255, 204, 110);
      }
      .blogz {
        background: rgb(94, 202, 230);
      }
      .triviaBlitz {
        background: rgb(22, 207, 176);
      }
      .beachStays {
        background: rgb(185, 76, 236);
      }
      .shaunYoung {
        background: rgb(136, 152, 153);
      }
      .epicEuchre {
        background: rgb(248, 255, 145);
      }
    }
  }
}



/// code for slide over div 


.projectDetails {
  position: absolute;
  background-color: rgba(245, 245, 245, 0.95);
  width: 100%;
  height: 99%;
  top: -47rem;
  transition: all 0.3s ease-in;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    padding: 0.5rem 1rem 0 1rem;
  }

  ul {
    display: flex;
    width: 90%;
    margin: 1rem auto 1rem;
    padding: 0;
    justify-content: space-evenly;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: black;
        background: white;
        padding: 0.4rem 3rem;
        transition: all 0.5s ease-in;
        border: 3px solid black;

        &:hover {
          background-color: black;
          color: white;
        }

        &:focus {
          background-color: black;
          color: white;
        }
      }
    }
  }
}

.mouseOverSlide {
  top: 0;
}





