@media (max-width: 1600px) {
  .aboutContainer {
  
  .aboutImgContainer { width: 47%}
  .aboutTextContainer {
    width: 50%;
    p {
      font-size: 1rem;
      
    }
    h4 {
      font-size: 1.3rem;
    }
  }
}
}

@media (max-width: 1200px) {
  .aboutContainer {
    .aboutImgContainer {
      margin-top: 2rem;
      width: 42%;
    }

    .aboutTextContainer {
      width: 56%;
    }
  }

  .footerContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  .headerContainer .burgerBars,
  .menuToggle {
    display: none;
  }
}

@media (max-width: 999px) {
  .headerNav {
    display: none;
  }
  .homeSocialNav {
    display: none;
  }

  .heroHeaderContainer {
    .firstTextContainer,
    .secondTextContainer {
      width: 80%;
    }
  }

  .aboutContainer {
    flex-direction: column;
    align-items: center;

    .aboutImgContainer {
      width: 70%;
    }
    .aboutTextContainer {
      width: 70%;
      h4 {
        font-size: 1.3rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .heroHeaderContainer {
    .firstTextContainer,
    .secondTextContainer {
      width: 60%;
      height: 6rem;
      font-size: 1rem;
    }

    .firstTextContainer {
      margin-top: 7rem;

      .myName {
        display: block;
      }
    }

    .secondTextContainer {
      margin-top: 15rem;
    }
  }

  .projectsContainer .projectTypeSelector {
    li {
      padding: 0.5rem 1rem;
    }
  }

  .aboutContainer {
    .aboutTextContainer {
      width: 90%;
    }
    .aboutImgContainer {
      width: 90%;
    }
  }

  .aboutTextContainer .aboutSocialNav {
    li {
      margin: 0.5rem 0.5rem;
      padding: 0.5rem 1rem;
    }
  }

  .textReplace {
    display: block;
  }

  footer > .footerContainer {
    nav li {
      margin: 0.5rem 0.5rem;
      padding: 0.5rem 1rem;
    }
  }
}

@media (max-width: 600px) {
  .heroHeaderContainer {
    h2 {
      font-size: 1.1rem;
    }

    .firstTextContainer {
      margin-top: 7rem;
      width: 70%;
    }

    .secondTextContainer {
      background-color: black;
      color: white;
      margin-top: 16rem;
      width: 70%;
    }
  }

  .projectsContainer .projectTypeSelector {
    margin-top: 0;

    li {
      padding: 0;
      button {
        width: 7rem;
      }
    }
  }

  .projectsContainer .workContainer {
    grid-template-columns: 1fr;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    p {
      font-size: 1rem;
    }
  }

  .workImgContainer {
    .projectDetails {
      flex-direction: column-reverse;
      overflow-y: scroll;
      justify-content: center;
    }
  }

  .projectDetails > nav {
    ul {
      width: 100%;

      li {
        a {
          padding: 0.3rem 2rem;
        }
      }
    }
  }

  .aboutContainer {
    .aboutTextContainer {
      width: 100%;
    }
    .aboutImgContainer {
      width: 100%;
    }
  }

  .workImgContainer {
    .projectDetails {
      flex-direction: column-reverse;
      overflow-y: scroll;
      justify-content: center;
    }
  }
}
