@import './normalize';
@import './variables';
@import './header';
@import './home';
@import './footer';
@import './about';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



body {
  font-size: 125%;
  margin: 0rem 0 0 0;
  font-family: $font;
}

.wrapper {
  width: 100%;
}

.mainContainer {
  max-width: 1600px;
  margin: 0 auto;
}

.scrollHomeButton {
  position: fixed;
  bottom: 12rem;
  right: 2rem;
  color: white;
  background-color: black;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}



