@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@media (max-width: 1600px) {
  .aboutContainer .aboutTextContainer p {
    font-size: 1rem;
  }
  .aboutContainer .aboutTextContainer h4 {
    font-size: 1.4rem;
  }
}
@media (max-width: 1200px) {
  .aboutContainer .aboutImgContainer {
    margin-top: 2rem;
    width: 42%;
  }
  .aboutContainer .aboutTextContainer {
    width: 56%;
  }

  .footerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (min-width: 1000px) {
  .headerContainer .burgerBars,
  .menuToggle {
    display: none;
  }
}
@media (max-width: 999px) {
  .headerNav {
    display: none;
  }

  .homeSocialNav {
    display: none;
  }

  .heroHeaderContainer .firstTextContainer,
  .heroHeaderContainer .secondTextContainer {
    width: 80%;
  }

  .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .aboutContainer .aboutImgContainer {
    width: 70%;
  }
  .aboutContainer .aboutTextContainer {
    width: 70%;
  }
  .aboutContainer .aboutTextContainer h4 {
    font-size: 1.3rem;
  }
}
@media (max-width: 768px) {
  .heroHeaderContainer .firstTextContainer,
  .heroHeaderContainer .secondTextContainer {
    width: 60%;
    height: 6rem;
    font-size: 1rem;
  }
  .heroHeaderContainer .firstTextContainer {
    margin-top: 7rem;
  }
  .heroHeaderContainer .firstTextContainer .myName {
    display: block;
  }
  .heroHeaderContainer .secondTextContainer {
    margin-top: 15rem;
  }

  .projectsContainer .projectTypeSelector li {
    padding: 0.5rem 1rem;
  }

  .aboutContainer .aboutTextContainer {
    width: 90%;
  }
  .aboutContainer .aboutImgContainer {
    width: 90%;
  }

  .aboutTextContainer .aboutSocialNav li {
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 1rem;
  }

  .textReplace {
    display: block;
  }

  footer > .footerContainer nav li {
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 600px) {
  .heroHeaderContainer h2 {
    font-size: 1.1rem;
  }
  .heroHeaderContainer .firstTextContainer {
    margin-top: 7rem;
    width: 70%;
  }
  .heroHeaderContainer .secondTextContainer {
    background-color: black;
    color: white;
    margin-top: 16rem;
    width: 70%;
  }

  .projectsContainer .projectTypeSelector {
    margin-top: 0;
  }
  .projectsContainer .projectTypeSelector li {
    padding: 0;
  }
  .projectsContainer .projectTypeSelector li button {
    width: 7rem;
  }

  .projectsContainer .workContainer {
    grid-template-columns: 1fr;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .projectsContainer .workContainer p {
    font-size: 1rem;
  }

  .workImgContainer .projectDetails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    overflow-y: scroll;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .projectDetails > nav ul {
    width: 100%;
  }
  .projectDetails > nav ul li a {
    padding: 0.3rem 2rem;
  }

  .aboutContainer .aboutTextContainer {
    width: 100%;
  }
  .aboutContainer .aboutImgContainer {
    width: 100%;
  }

  .workImgContainer .projectDetails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    overflow-y: scroll;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  height: 7.5rem;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  border-bottom: 1px solid #adadad;
}

.headerContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.headerContainer .logoContainer {
  height: 100%;
  border: 4px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 6rem;
  z-index: 5;
}
.headerContainer .logoContainer h1 {
  margin: 0.2rem;
  font-weight: 400;
}
.headerContainer .logoContainer a {
  text-decoration: none;
  color: black;
}
.headerContainer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
.headerContainer nav ul li {
  list-style-type: none;
  margin: 1.5rem;
  font-size: 1.1rem;
}
.headerContainer nav ul li a {
  text-decoration: none;
  color: black;
  letter-spacing: 5px;
  border: 3px solid white;
  padding: 0.3rem 2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.headerNav .navSelected {
  border: 3px solid black;
}

.mobileNav {
  position: absolute;
  width: 100%;
  height: 20rem;
  bottom: -15rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  opacity: 0;
  z-index: 3;
}
.mobileNav .mobileNavList {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.mobileNav .mobileNavList a {
  cursor: pointer;
}
.mobileNav .mobileNavList a:hover {
  border: 3px solid black;
}
.mobileNav .mobileNavList a:focus {
  border: 3px solid black;
}
.mobileNav .mobileSocialNav a:hover {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: black;
  color: white;
}
.mobileNav .mobileSocialNav a:focus {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: black;
  color: white;
}

.swapOpacity {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.menuToggle {
  position: absolute;
  right: 0;
  top: 1rem;
  height: 2rem;
  width: 2rem;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.burgerBars {
  position: absolute;
  right: 0;
  top: 1rem;
  height: 2rem;
  width: 2rem;
  z-index: 4;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.burgOne {
  width: 2rem;
  height: 15%;
  background-color: black;
}

.burgTwo {
  width: 2rem;
  height: 15%;
  background-color: black;
}

.burgThree {
  width: 2rem;
  height: 15%;
  background-color: black;
}

.spinnyBurgerTop {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(0.4rem) rotate(225deg);
  transform: translateY(0.4rem) rotate(225deg);
}

.spinnyBurgerBottom {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(-0.4rem) rotate(-225deg);
  transform: translateY(-0.4rem) rotate(-225deg);
}

.heroHeaderContainer {
  height: 60vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
}

.heroImgContainer {
  max-height: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.heroImgContainer img {
  max-width: 100%;
  max-height: 100%;
}

.firstTextContainer {
  margin-top: 18rem;
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
}
.firstTextContainer h2 {
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
}

.secondTextContainer {
  margin-top: 25rem;
  margin-left: 7rem;
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
}
.secondTextContainer h2 {
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
}

.firstTextContainer,
.secondTextContainer {
  grid-row-start: 1;
  grid-column: 1/-1;
  text-align: center;
  background: white;
  height: 5rem;
  width: 70%;
  z-index: 0;
}

.homeSocialNav {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
}
.homeSocialNav ul {
  padding: 0;
  margin-top: 4rem;
  margin-right: 1.5rem;
}
.homeSocialNav ul li {
  list-style-type: none;
  margin: 1.2rem;
  font-size: 1.6rem;
}
.homeSocialNav ul li a {
  color: white;
  padding: 0.7rem;
}
.homeSocialNav ul li a:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: black;
}
.homeSocialNav ul li a:focus {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: black;
}

.projectTypeSelector {
  padding: 0;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.projectTypeSelector li {
  list-style-type: none;
  padding: 1rem 3rem;
}
.projectTypeSelector li button {
  background-color: #fff;
  width: 8rem;
  padding: 0.5rem 0;
  cursor: pointer;
  border: 3px solid white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 1rem;
  letter-spacing: 3px;
}

.projectTypeSelector .selected {
  border: 3px solid black;
}

.workContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
  gap: 2rem;
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 1350px) {
  .workContainer {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  .workContainer {
    width: 60%;
  }
}
.workContainer .project h3 {
  font-weight: 400;
  font-size: 0.9rem;
}
.workContainer .project .workImgContainer {
  position: relative;
  overflow: hidden;
}
.workContainer .project .workImgContainer img {
  max-width: 100%;
}
.workContainer .project .workImgContainer .filmFactory {
  background: #ffcc6e;
}
.workContainer .project .workImgContainer .blogz {
  background: #5ecae6;
}
.workContainer .project .workImgContainer .triviaBlitz {
  background: #16cfb0;
}
.workContainer .project .workImgContainer .beachStays {
  background: #b94cec;
}
.workContainer .project .workImgContainer .shaunYoung {
  background: #889899;
}
.workContainer .project .workImgContainer .epicEuchre {
  background: #f8ff91;
}

.projectDetails {
  position: absolute;
  background-color: rgba(245, 245, 245, 0.95);
  width: 100%;
  height: 99%;
  top: -47rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.projectDetails p {
  padding: 0.5rem 1rem 0 1rem;
}
.projectDetails ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 1rem auto 1rem;
  padding: 0;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.projectDetails ul li {
  list-style-type: none;
}
.projectDetails ul li a {
  text-decoration: none;
  color: black;
  background: white;
  padding: 0.4rem 3rem;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  border: 3px solid black;
}
.projectDetails ul li a:hover {
  background-color: black;
  color: white;
}
.projectDetails ul li a:focus {
  background-color: black;
  color: white;
}

.mouseOverSlide {
  top: 0;
}

footer {
  margin-top: 4rem;
  border-top: 1px solid #adadad;
}

.footerContainer {
  width: 100%;
  height: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.footerContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.footerContainer ul li {
  list-style: none;
  padding: 0.5rem 2.5rem;
  margin: 0.5rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
}
.footerContainer ul li:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: black;
  color: white;
}
.footerContainer ul li:hover a {
  color: white;
}
.footerContainer ul li:hover i {
  color: white;
}
.footerContainer ul li a {
  text-decoration: none;
  color: black;
  letter-spacing: 3px;
}

.aboutContainer {
  width: 80%;
  margin: 3rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.aboutImgContainer {
  width: 50%;
  opacity: 0;
}
.aboutImgContainer img {
  max-width: 100%;
}

.aboutTextContainer {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1.7rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.aboutTextContainer h4 {
  font-size: 1.9rem;
}

.imgFadeIn {
  -webkit-transition: opacity 0.7s ease-in;
  transition: opacity 0.7s ease-in;
  opacity: 1;
}

.aboutSocialNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}
.aboutSocialNav li {
  list-style: none;
  padding: 0.5rem 2.5rem;
  margin: 0.5rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
}
.aboutSocialNav li:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: black;
  color: white;
}
.aboutSocialNav li:hover a {
  color: white;
}
.aboutSocialNav li:hover i {
  color: white;
}
.aboutSocialNav li:focus {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: black;
  color: white;
}
.aboutSocialNav li:focus a {
  color: white;
}
.aboutSocialNav li:focus i {
  color: white;
}
.aboutSocialNav li a {
  text-decoration: none;
  color: black;
  letter-spacing: 3px;
}

body {
  font-size: 125%;
  margin: 0rem 0 0 0;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 100%;
}

.mainContainer {
  max-width: 1600px;
  margin: 0 auto;
}

.scrollHomeButton {
  position: fixed;
  bottom: 12rem;
  right: 2rem;
  color: white;
  background-color: black;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
}
